body {
    color: #fff;
    background-color: #191919;
    margin: 0px;
}

.container {
    position: fixed;
}

#bg_img {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#deckinfo {
    position: absolute;
    top: 1.5%;
    left: 0.5%;
    width: 14%;
    height: 23%;
    overflow-x: visible;
    overflow-y: clip;
}

    #deckinfo img {
        width: 100%;
    }

#trumpcard {
    position: absolute;
    top: 7%;
    left: 17.5%;
    width: 65%;
}

    #trumpcard p {
        position: absolute;
        top: 0.5rem;
        left: 0.75rem;
        z-index: 1;
        margin: 0;
        font-weight: 525;
        font-size: 1.25rem;
        line-height: 1.2rem;
    }

#trumpsuit {
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    width: 65%;
    height: 65%;
    text-align: center;
    container-type: size;
}

    #trumpsuit p {
        margin-top: calc(50cqh - 2.5rem);
        font-weight: 500;
        font-size: 5rem;
    }

#deck {
    position: absolute;
    top: 40%;
    left: 17.5%;
    width: 65%;
}

    #deck img {
        transform: rotate(0.25turn);
    }

    #deck div {
        position: absolute;
        width: 100%;
        top: 35%;
        text-align: center;
        font-size: 1.5rem;
    }

#playerinfo {
    position: absolute;
    top: 3%;
    right: 1.5%;
    width: 12%;
    height: 21.5%;
    display: flex;
    flex-direction: column;
}

    #playerinfo div {
        flex-grow: 1;
        position: relative;
        width: 100%;
        max-height: 1.2rem;
        min-height: 0.5rem;
    }

        #playerinfo div div {
            height: 100%;
            container-type: size;
        }

    #playerinfo .nick {
        left: 60cqh;
        top: 0;
        width: calc(100% - 75cqh);
        overflow: clip;
    }

    #playerinfo p {
        position: absolute;
        height: 100%;
        margin: 0;
        font-size: 90cqh;
    }

.yellow {
    color: #f2c511;
}

#handcontainer {
    position: absolute;
    bottom: 3%;
    height: min(15%, 125px);
    width: 100%;
}

#handflexcontainer {
    display: flex;
    height: 100%;
    width: 80%;
    transform: translate(10%);
    justify-content: center;
}

.handflex {
    flex-shrink: 2;
    height: 100%;
    max-width: 150px;
    overflow-x: visible;
    overflow-y: clip;
    text-align: left;
}

.flexcontent {
    position: relative;
}

.handflex img {
    position: relative;
    width: 106%;
    z-index: -1;
}

.handflex p {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    z-index: 1;
    margin: 0;
    font-weight: 525;
    font-size: 1.25rem;
    line-height: 1.2rem;
}

.active {
    transition: all 200ms ease-in-out;
    transform: translate(0, -25%);
    height: 135%;
    flex-shrink: 1;
}

#opponentcontainer {
    position: absolute;
    top: 3%;
    left: 10%;
    height: min(10%, 100px);
    width: 80%;
}

#opponentflexcontainer {
    display: flex;
    height: 100%;
    width: 80%;
    transform: translate(12%) rotate(180deg);
    justify-content: center;
}

.opponentflex {
    flex-shrink: 2;
    height: 100%;
    max-width: 100px;
    overflow-x: visible;
    overflow-y: clip;
    text-align: left;
}

.opponentflex img {
    position: relative;
    width: 106%;
    z-index: -1;
}

#chosencontainer {
    position: absolute;
    bottom: 25%;
    height: max(10%, 100px);
    width: 100%;
}

#chosenflexcontainer {
    display: flex;
    height: 100%;
    width: 50%;
    transform: translate(10%);
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
}

.chosenflex {
    flex-shrink: 2;
    max-width: 20%;
    overflow-x: visible;
    overflow-y: clip;
    text-align: left;
}

    .chosenflex img {
        position: relative;
        height: 100%;
        z-index: -1;
    }

    .chosenflex p {
        position: absolute;
        top: 0.5rem;
        left: 0.75rem;
        z-index: 1;
        margin: 0;
        font-weight: 525;
        font-size: 1rem;
        line-height: 1rem;
    }

#fieldcontainer {
    position: absolute;
    bottom: 25%;
    height: max(15%, 150px);
    width: 100%;
}

#fieldflexcontainer {
    position: relative;
    display: flex;
    height: 100%;
    width: 70%;
    left: 15%;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: flex-start;
}

.fieldflex {
    transform: translate(7.5%);
    flex-shrink: 2;
    width: 15%;
    height: 100%;
    overflow-x: visible;
    overflow-y: visible;
    text-align: left;
    margin-bottom: 1%;
}

    .fieldflex img {
        position: relative;
        height: 67%;
        z-index: -1;
    }

    .fieldflex p {
        position: absolute;
        top: 0.5rem;
        left: 0.75rem;
        z-index: 1;
        margin: 0;
        font-weight: 525;
        font-size: 1.25rem;
        line-height: 1.2rem;
    }

.killerflexcontent {
    position: relative;
    bottom: 35%;
}

.killingflexcontent {
    position: relative;
    bottom: 37%;
    left: 10%;
}

    .killingflexcontent img {
        border: 2px dashed #ffdb2c;
        border-radius: 5px;
    }

.offset#fieldcontainer {
    top: 15%;
}
.offset :is(#fieldflexcontainer){
    flex-wrap: wrap;
}

#element {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}

#win {
    position: absolute;
    top: 25%;
    left: 30%;
    height: 50%;
    width: 40%;
    background-image: url("/imgs/win_img.png");
    background-size: 100% 100%;
}

#winmsg {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-weight: 525;
    font-size: 1.75rem;
}

#winbuttons {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 70%;
    text-align: center;
}

    #winbuttons button {
        position: relative;
        width: 100%;
        height: 3rem;
        color: #fff;
        font-weight: 525;
        font-size: 1.5rem;
        line-height: 1.2rem;
        background-image: url("/imgs/button_img.png");
        background-size: 100% 100%;
        border: none;
        margin-top: 3%;
        margin-bottom: 3%;
    }

        #winbuttons button:hover {
            color: #f2c511;
        }

#trump {
    position: absolute;
    top: 25%;
    left: 30%;
    height: 50%;
    width: 40%;
    background-image: url("/imgs/win_img.png");
    background-size: 100% 100%;
    text-align: center;
}

#newtrump {
    position: absolute;
    bottom: 15%;
    right: 10%;
    height: 50%;
}

#oldtrump {
    position: absolute;
    bottom: 15%;
    left: 10%;
    height: 50%;
}

#trump img {
    height: 100%;
}

#newtrump p, #oldtrump p {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    z-index: 1;
    margin: 0;
    font-weight: 525;
    font-size: 1.25rem;
    line-height: 1.2rem;
}

#trumparrow {
    position: relative;
    top: 55%;
    margin: 0;
    font-weight: 525;
    font-size: 1.75rem;
}

#trumcontinue {
    position: relative;
    top: 3%;
    margin: 0;
    font-weight: 525;
    font-size: 1.5rem;
}

#admintoggle {
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 4%;
    border: none;
    border: none;
    padding: 0;
}

    #admintoggle img {
        width: 100%;
    }

#admincontainer {
    position: absolute;
    top: 25%;
    left: 30%;
    height: 50%;
    width: 40%;
    background-image: url("/imgs/win_img.png");
    background-size: 100% 100%;
}

#adminbuttons {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    #adminbuttons button {
        position: relative;
        width: 100%;
        height: 3rem;
        color: #fff;
        font-weight: 525;
        font-size: 1.5rem;
        line-height: 1.2rem;
        background-image: url("/imgs/button_img.png");
        background-size: 100% 100%;
        border: none;
    }

        #adminbuttons button:hover {
            color: #f2c511;
        }

.gamebuttons {
    display: flex;
    position: absolute;
    bottom: 7.5%;
    left: 3%;
    width: 94%;
    height: 10%;
    flex-direction: row;
    justify-content: center;
}

    .gamebuttons button {
        width: 24%;
        height: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 100%;
        line-height: 1.2rem;
        background-image: url("/imgs/button_img.png");
        background-size: 100% 100%;
        border: none;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

        .gamebuttons button:hover {
            color: #f2c511;
        }

.inputs {
    position: absolute;
    top: 7.5%;
    left: 5%;
    width: 90%;
    height: 72.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    container-type: size;
}

    .inputs label {
        display: block;
        font-size: min(1.25rem, 20cqh);
        margin: 0;
    }

    .inputs input {
        height: min(1.25rem, 27.5cqh);
        width: 70%;
        border-width: 1cqh;
        border-radius: 1cqh;
        margin: 0;
    }

        .inputs input:focus {
            border: 1.2cqh solid #888;
            outline: none;
        }

.incorrect {
    font-size: min(1rem, 7cqh);
    color: #e62727;
    text-align: center;
    margin: 0;
}

#notice {
    position: absolute;
    top: 50%;
    left: 34%;
    height: 35%;
    width: 32%;
    background-image: url("/imgs/win_img.png");
    background-size: 100% 100%;
}

#ntc {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    container-type: size;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ntctittle {
    font-weight: 525;
    font-size: min(2rem, 20cqh);
    margin: 0;
}

#ntctxt {
    font-weight: 525;
    font-size: min(1.4rem, 12.5cqh);
    margin: 0;
}

#error {
    position: absolute;
    top: 35%;
    left: 30%;
    height: 30%;
    width: 40%;
    background-image: url("/imgs/name_img.png");
    background-size: 100% 100%;
}

#err {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 70%;
    width: 90%;
    container-type: size;
    text-align: center;
}

#errtxt {
    font-weight: 525;
    font-size: min(1.5rem, 8cqw);
    line-height: 1.2rem;
}

.hidden {
    display: none;
}

.feedback {
    animation: 0.5s linear negative;
}

@keyframes negative {
    0% {
        border: 0px solid red;
        border-radius: 5px;
        transform: translate(0, 0);
    }

    10% {
        border: 5px solid red;
        border-radius: 5px;
    }

    25% {
        transform: translate(-0.5rem, 0.5rem);
    }

    75% {
        transform: translate(0.5rem, -0.5rem);
    }

    90% {
        border: 0px solid red;
        border-radius: 5px;
    }

    100% {
        transform: translate(0, 0);
    }
}

.active1 {
    border: 2px dashed yellow;
    border-radius: 30%;
}